<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <label for="id_username">Username: 
            <input type="text" id="id_username" name="username" placeholder="Username...">
        </label>
        <br>
        <label for="id_password1">Password:
            <input type="password" id="id_password1" name="password1" placeholder="Password...">
        </label>
        <br>
        <label for="id_password2">Confirm:
            <input type="password" id="id_password2" name="password2" placeholder="Confirm..." >
        </label>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>